/**************************************************************
    VARIÁVEIS
**************************************************************/

:root {
    --main-color: #e16900;
    --link-color: #666666;
    --text1: #999999;
    --highligth-text: #333333;
    --input-text: #555555;
    --white-color: #ffffff;
    --points-list: #cccccc;
    --line-input: #d9d9d9;
}